.swh {
	&__wrapper {
		@extend .w__fullwidth;
	}

	&__container {
		@extend .c__centered;
	}

	&__logo {
		font-size: 2rem;
		font-weight: 400;
		margin-bottom: 0;
	}

	&__logo-link {
		text-decoration: none;
		text-transform: uppercase;
		color: $logo-color;

		&:visited {
			color: $logo-color;
		}
	}

	&__tag-line {
		margin-top: 0.75rem;
		font-size: 0.9rem;
		color: #888;
		font-weight: 400;
	}

	&__nav-menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__nav-menu li {
		float: left;
		display: inline-block;
		margin: 0 0.25rem 0 0;
		padding: 0.5rem 1rem;
		border: 1px solid #DEDEDE;
		font-size: 1rem;


		&:hover {
			background-color: #CCC;
		}
	}

	&__nav-menu a {
		text-decoration: none;
		color: #555;
	    font-weight: 900;
		font-size: 0.87rem;
	}
}