.main-header {
	
	&__wrapper {
		@extend .w__fullwidth;
	}

	&__container {
		@extend .c__centered;
	}

	&__logo {
		width: 100%;
		margin: 0 auto 0.75rem 0;
		font-size: 2rem;
		font-weight: 900;
	    font-size: 1.2rem;
	    text-align: center;
	}

	&__logo-link {
		text-decoration: none;
		text-transform: uppercase;
		color: $color-logo;

		&:visited {
			color: $color-logo;
		}
	}
}

@media screen and ( min-width: 30em ) {

	.main-header {

		&__logo {
			text-align: left;
			font-size: 1.4rem;
		}
	}
}